@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff,
      0 0 40px #00bfff, 0 0 80px #00bfff, 0 0 90px #00bfff, 0 0 100px #00bfff,
      0 0 150px #00bfff;
  }
  100% {
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff,
      0 0 40px #00bfff, 0 0 80px #00bfff, 0 0 90px #00bfff, 0 0 100px #00bfff,
      0 0 150px #00bfff;
  }
}

.button-glow {
  animation: glow 1.5s infinite alternate;
}

.image-fade {
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
}

@keyframes rise {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes sink {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.animate-rise {
  animation: rise 0.9s forwards;
}

.animate-sink {
  animation: sink 0.9s forwards;
}
